@model IEnumerable<AtlanticCovidTracker.Client.Models.UnitedStatesData>

@{
    ViewData["Title"] = "United States Historic";
}

<h1>United States Historic Data</h1>

<div class="mt-3">
    <partial name="_UnitedStatesDataCollection" />
</div>
