@model AtlanticCovidTracker.Client.Models.UnitedStatesData
@{
    ViewData["Title"] = "US Current";
}

<h1>United States Current</h1>

<div class="row">
    <div class="col-8 offset-2">
        <partial name="_UnitedStatesDataSingle" />
    </div>
</div>
