
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="national" asp-action="current">National-Current</a><br />
<a asp-controller="national" asp-action="historic">National Historic</a><br />
<a asp-controller="states" asp-action="current">States Current</a>
