@model AtlanticCovidTracker.Web.Features.States.CurrentForStateViewModel
@{
    ViewData["Title"] = $"{Model.StateMetadata.State} Current";
}

<h1>@Utilities.GetStateName(Model.StateMetadata.State) Current</h1>

<partial name="_StateMetadata" for="StateMetadata" />

<div class="row mt-3">
    <div class="col-8 offset-2">
        <partial name="_StateDataSingle" for="CurrentData" />
    </div>
</div>
