@model IEnumerable<StateData>
@{
    ViewData["Title"] = "State Data - Current";
}

<h1>Current</h1>

<div class="row">
    <div class="col-8 offset-2">
        <partial name="_StateDataCollection" />
    </div>
</div>
