@model AtlanticCovidTracker.Web.Features.States.HistoricForStateViewModel
@{
    ViewData["Title"] = $"{Model.StateMetadata.State} Historic";
}

<div class="container mb-3">
    <h1>@Utilities.GetStateName(Model.StateMetadata.State) Historic</h1>
    <partial name="_StateMetadata" for="StateMetadata" />
</div>
<div class="container-fluid">
    <partial name="_StateDataCollection" for="HistoricData" />
</div>

