@model AtlanticCovidTracker.Web.Features.States.HistoricForStateViewModel
@{
    ViewData["Title"] = $"{Model.StateMetadata.State} Historic";
}

<h1>@Utilities.GetStateName(Model.StateMetadata.State) Historic</h1>

<div class="mb-3">
    <a class="btn btn-outline-primary" asp-controller="States" asp-action="Current">
        <span class="mr-3">&laquo;</span>Back
    </a>
</div>

<div class="mb-3">
    <partial name="_StateMetadata" for="StateMetadata" />
</div>
<partial name="_StateDataCollection" for="HistoricData" />

